.el-header {
    position: relative;
    background-color: #f9f9f9;
    box-shadow: var(--el-box-shadow-light);
}

.el-header .logo {
    padding-top: 1.4ch;
}

.el-main{
    width: 600px;
    height: 500px;
    margin-top: 3ch;
    margin-left: 50ch;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.steps{
    position: absolute;
    width: 100%;
    /* background-color: green; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -470%);
}

.vinput1{
    position: absolute;
    width: 100%;
    top: 37%;
    left: 92%;
    transform: translate(-50%, -50%);
}

.vinput2{
    text-align: center;
    margin-top: 200px;
}
.vinput2 .el-input{
    margin-top: 10px;
}

.el-button{
    position: absolute;
    display: inline-block;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -70%);
}
.el-alert {
    position: absolute;
    width: 30%;
    top: 37%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.el-link {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}