*{
    margin: 0;
    padding: 0;
}

/* 叶头logo样式 */
.el-header {
    position: relative;
    background-color: #f9f9f9;
    box-shadow: var(--el-box-shadow-light);
}

.el-header .logo {
    padding-top: 1.4ch;
}


/* 中间的盒子 */
.el-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 主要的盒子 后面的小背景板*/
.el-main {
    max-width: 600px;
    width: 90%;
    height: auto; 
    margin-top: 3ch;
    border-radius: 5px;
    background-color: #f9f9f9;
}

/* 步骤条 */
.el-container .steps {
    width: 100%;
    height: 5vh;
    margin-top: 2rem; 
}

/* 输入框样式 */
.el-container .vinput1,
.vinput2 {
    width: 90%; 
    max-width: 400px; 
    margin-top: 2rem; 
    margin-left: 10rem;
}

.el-container .vinput1 .el-input,
.vinput2 .el-input {
    width: 100%; 
    margin-top: 1rem; 
}

/* 按钮样式 */
.el-button {
    margin-top: 2rem; 
    margin-left: 15rem;
}

/* 提醒样式 */
.el-alert {
    width: 60%; 
    max-width: 300px;
    margin-top: 2rem; 
    margin-left: 9rem;
}

/* 链接样式 */
.el-link {
    margin-top: 2rem; 
    margin-left: 14rem;

}